<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="/component/dependencies.html :: jquery"></div>
    <div th:replace="/component/dependencies.html :: bootcss"></div>
    <div th:replace="/component/dependencies.html :: bootjs"></div>
    <div th:replace="/component/dependencies.html :: jqval"></div>
    <div th:replace="/component/dependencies.html :: jqadd"></div>
    <div th:replace="/component/dependencies.html :: commonjs"></div>
    <div th:replace="/component/dependencies.html :: layerjs"></div>
    <div th:replace="/component/dependencies.html :: md5js"></div>
    <title>Product Detail</title>
</head>
<body>
    <p>Under construction</p>
</body>
</html>